@model DataBase.ViewModels.CandidatosViewModel
@{
    ViewData["Title"] = "Elecciones";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<body id="FondoP" style=" background: #3a7bd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">

    <header class="container-fluid shadow position-relative fixed-top border-bottom bg-primary">

        <div class="text-center">

            <div class="font-weight-bolder pt-2 text-white" style="font-family: 'Lemonada', cursive;">
                <h1>Presidente</h1>
            </div>

        </div>

    </header>
    <form asp-action="" asp-controller="" method="post">
        <div class="container mt-4">

            <div class="row justify-content-md-center">


                <div class="col-sm-12 col-md-4 col-lg-3 mb-3 form-check-label" for="defaultCheck1">

                    @*<input type="checkbox" id="CheckCard" value="1" checked="checked"> @*style="display:none"
                    <label for="CheckCard">
                        <div class="card bg-light stretched-link" style="width: 18rem; ">
                            <img src="~/images/Candidato/LuisAbinader.jpg" class="card-img-top card-image rounded mx-auto d-block mr-3 mt-2" width="60" height="60">
                            <div class="card-body">
                                <h2 class="card-title text-center font-weight-bold">Candidatos</h2>
                                <p class="card-text font-weight-normal text-justify" style="font-family: 'Roboto Slab', serif; font-size:10px;">

                                </p>*@
                <script>
                    //NO ME FUNCIONA
                    //function comprobar(checkbox) {
                    //    otro = checkbox.parentNode.querySelector("[type=checkbox]:not(#" + checkbox.id + ")");

                    //    if (otro.checked) {
                    //        otro.checked = false;
                    //    }
                    //}

                    //tampoco funciona
                    function checkBox(cb) {
                        for (n = 0; n < 3; n++) {
                            if (eval("document.form.contact[" + n + "].checked") == true) {
                                document.form.candidato[n].checked = false;
                                if (n == cb) {
                                    document.form.candidatot[n].checked = true;
                                }
                            }
                        }
                    }

                </script>
                              
                    
                    @foreach (var c in Model.candidatos)
                    {
                <div class="col-sm-4 col-md-4 col-lg-3 mb-3 form-check-label">
                    <input type="checkbox" id="CheckCard" asp-for="Nombre" onClick="javascript:checkBox(1)" value="@c.IdCandidato"> @*style="display:none"*@   @*onchange="comprobar(this)"*@
                    <label for="CheckCard">
                        <div class="card bg-light stretched-link" style="width: 16rem; ">
                            <div class="card-header">
                                <div class="row row-no-gutters">
                                    <div class="col-3">
                                        <img src="~/images/Partido/PRM_Logo.png" class="rounded-pill p-1 ml-1 mt-1 m-0" width="40" height="40" />
                                    </div>
                                    <div class="col-9">
                                        <p class="text-dark col-lg-pull-0 pl-2 mr-2 m-0" style="font-size:10px;">@c.Partido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 pt-1 pb-1">
                                <div class="row row-no-gutters ">
                                    <div class="col-5">
                                        <img src="~/images/Candidato/LuisAbinader.jpg" class="card-img card-image m-0 pl-1" width="40" height="80">
                                    </div>
                                    <div class="col-7 d-flex justify-content-start">
                                        <p class="card-text font-weight-normal pl-1" style="font-family: 'Rowdies', cursive; font-size:14px;">
                                            @Html.DisplayFor(ModelItem => c.Nombre)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
                    }

                </div>


            </div>


        @*<div class="fixed-bottom">
                <div class="col-sm-4 col-md-4 col-lg-3 mb-3 form-check-label">
                    <input type="checkbox" id="CheckCard1" name="candidato" onClick="javascript:checkBox(1)" value="1"> @*style="display:none"onchange="comprobar(this)"*
                    <label for="CheckCard1">
                        <div class="card bg-light stretched-link" style="width: 16rem; ">
                            <div class="card-header">
                                <div class="row row-no-gutters">
                                    <div class="col-3">
                                        <img src="~/images/Partido/PRM_Logo.png" class="rounded-pill p-1 ml-1 mt-1 m-0" width="40" height="40" />
                                    </div>
                                    <div class="col-9">
                                        <p class="text-dark col-lg-pull-0 pl-2 mr-2 m-0" style="font-size:10px;">Partido Revolucionario Moderno Social Cristiano (PRM)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 pt-1 pb-1">
                                <div class="row row-no-gutters ">
                                    <div class="col-5">
                                        <img src="~/images/Candidato/LuisAbinader.jpg" class="card-img card-image m-0 pl-1" width="40" height="80">
                                    </div>
                                    <div class="col-7 d-flex justify-content-start">
                                        <p class="card-text font-weight-normal pl-1" style="font-family: 'Rowdies', cursive; font-size:14px;">
                                            Luis Rodolfo Abinader Corona
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>*@





            </div>



            </div>


        <div class="fixed-bottom" id="votar">

            <footer class="container-fluid bg-light  p-3">
                <input class="font-weight-bolder text-white btn-block btn text-white btn-success" type="submit" value="VOTAR" style="font-family: 'Lemonada', cursive;"/>
            </footer>

        </div>

    </form>

</body>