
@{
    ViewData["Title"] = "Ciudadanos";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<body style="background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

    <header class="container-fluid shadow position-relative fixed-top col-lg-pull-2 border-bottom bg-light" id="HeaderHome">

        <div class="row ml-4 p-1">

            <div class="font-weight-bolder pt-2" style="font-family: 'Lemonada', cursive;">
                <h1>Ciudadanos</h1>
            </div>

            <a asp-controller="Admin" asp-action="Home" class="btn btn-info ml-auto btn-group-sm rounded pt-1 mt-1" style="font-size:17px; font-family: 'Lemonada', cursive; height:2%;"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

        </div>

    </header>

    <div class="container mt-5 d-flex justify-content-center">

        <div class="card rounded shadow-lg p-1 bg-dark"  style="width: 80rem; ">

            <div class="card-header bg-transparent row ml-3">

                <h2 class="mr-auto text-white" style="font-family: 'Abril Fatface', cursive;"><i class="fa fa-male" aria-hidden="true"></i> Agregar Ciudadano</h2>
                <a data-toggle="modal" data-target="#agregarNewCiudadano" class="btn btn-success ml-auto btn-lg  text-white" style="margin-right:5px;">Nuevo Ciudadano</a>

                <div class="modal fade" id="agregarNewCiudadano" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content bg-success">

                            <div class="modal-header bg-success text-white rounded-bottom shadow">
                     

                                     <div class=" mr-auto">
                                         <h2 class="modal-title"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Ciudadano</h2>
                                     </div>
                                     <div class="">
                                         <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                             Cancelar
                                         </button>
                                     </div>
                               
                            </div>
                            <form>
                                <div class="modal-body bg-light">

                                    <div class="form-group">
                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;" class="ml-3">Cédula</label>
                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}" placeholder="Ingresar Cédula">
                                        <small class="ml-4 form-text text-muted" style="font-size:10px;">El formato de la cedula debe ser: 000-0000000-0</small>
                                    </div>

                                    <div class="form-group">
                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Example input placeholder">
                                    </div>
                                    <div class="form-group">
                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Apellido">
                                    </div>
                                    <div class="form-group">
                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Email</label>
                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" id="" placeholder="Ingresar Email">
                                    </div>
                                    <input type="hidden" name="Estado" value="Activo" />

                                    <div class="form-group row mt-4">
                                        <div class="col">
                                            <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                        </div>
                                        <div class="col">
                                            <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>







            </div>





            <div class="card-body bg-light table-responsive-sm" >

                <table class="table table-striped text-center shadow rounded table-borderless">
                    <thead class="table-primary" style="font-family: 'Abril Fatface', cursive; font-size:13px;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">Estado</th>
                            <th scope="col">🛠</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:14px; overflow-y: scroll;">

                        <tr>
                            <td>Dalvin David</td>
                            <td>Molina Ogando</td>
                            <td>dalvinmolina@gmail.com</td>
                            <td>

                                @*Modelo para activar Usuario*@
                                <a data-toggle="modal" data-target="#act-" class="btn btn-outline-info btn-sm" style="font-size:12px; "><i class="fa fa-check-circle" style="color:greenyellow" aria-hidden="true"></i> Activar</a>
                                <div class="modal fade " id="act-" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog modal-sm">
                                        <div class="modal-content bg-warning shadow-sm p-1 rounded">
                                            <div class="modal-header bg-warning  rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Advertencía!</h5>
                                                <button type="button" class="btn btn-danger text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>
                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4>¿Seguro que desea <span class="text-primary">Activar</span>  a este ciudadano?</h4>


                                                <div class="mt-2 d-flex justify-content-center">
                                                    <a asp-controller="" asp-action="" asp-route-id="" class="btn btn-outline-info btn-sm" style="font-size:16px;"><i class="fa fa-check-circle" style="color:greenyellow" aria-hidden="true"></i> Activar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*Modelo para desactivar usuario*@
                                <a data-toggle="modal" data-target="#des-" class="btn btn-outline-secondary btn-sm" style="font-size:12px; "><i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i> Desactivar</a>
                                <div class="modal fade " id="des-" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-sm">
                                        <div class="modal-content bg-warning  p-1 rounded">

                                            <div class="modal-header bg-warning  rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Advertencía!</h5>
                                                <button type="button" class="btn btn-danger text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>
                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4>¿Seguro que desea  <span class="text-primary">Desactivar</span> a este ciudadano?</h4>
                                               

                                                <div class="mt-2 d-flex justify-content-center">
                                                    <a asp-controller="" asp-action="" asp-route-id="" class="btn btn-outline-secondary btn-sm" style="font-size:16px; "><i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i> Desactivar</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>

                            <td>
                                @*Editar ciudadano*@
                                <a data-toggle="modal" data-target="#EditarCiudadano" class="text-white btn btn-warning ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                <div class="modal fade" id="EditarCiudadano" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content bg-success">

                                            <div class="modal-header bg-warning text-dark rounded-bottom shadow">


                                                <div class=" mr-auto">
                                                    <h2 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Ciudadano</h2>
                                                </div>
                                                <div class="">
                                                    <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                                        Cancelar
                                                    </button>
                                                </div>

                                            </div>
                                            <form asp-action="" asp-controller="" method="post">
                                                <div class="modal-body bg-light">

                                                    <div class="form-group">
                                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;">Cédula</label>
                                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}" placeholder="Ingresar Cédula">
                                                        <small class="form-text text-muted">El formato de la cedula debe ser: 000-0000000-0</small>

                                                    </div>

                                                    <div class="form-group">
                                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Nombre">
                                                    </div>
                                                    <div class="form-group">
                                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Apellido">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Email</label>
                                                        <input type="text" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" id="" placeholder="Ingresar Email">
                                                    </div>
                                                    <input type="hidden" name="Estado" value="Activo" />

                                                    <div class="form-group row mt-4">
                                                        <div class="col">
                                                            <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>




                                @*ELIMINAR CIUDADANO*@


                                <a data-toggle="modal" data-target="#EliminarCiudadano" class="text-white btn btn-danger ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                <div class="modal fade " id="EliminarCiudadano" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content bg-danger shadow-sm p-1 rounded">

                                            <div class="modal-header bg-danger p-1 rounded">
                                                
                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel"  style="font-family: 'Rowdies', cursive; font-size:20px;">Eliminar</h5>
                                                
                                                <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>
                                            
                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4>¿SEGURO QUE QUIERE ELIMINAR ESTE CIUDADANO?</h4>

                                                <div class="mt-2 d-flex justify-content-center">
                                                    <a asp-action="" asp-controller="" class="text-white btn btn-danger shadow-lg ml-auto  btn-block" style="font-size:15px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


    
                            </td>

                        </tr>


                    </tbody>
                </table>

            </div>

        </div>

    </div>


</body>