@{
    ViewData["Title"] = "Login Administrador";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}
<script>
    $(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  

  $( ".card" ).hover(
  function() {
    $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
  }, function() {
    $(this).removeClass('shadow-lg');
  }
);
  
// document ready  
});
</script>

<body>



    <div class="container-fluid" id="FormMi">


        <div class="card mx-auto shadow-lg p-2 rounded" id="CardLogin" style="width: 28rem;">
            <div class="card-header bg-transparent  text-center display-4 border-bottom" id="testLogin">Login</div>
            <form asp-controller="Admin" asp-action="Home" method="post">

                <div class="card-body">
                    <h7 class="card-title text-danger font-weight-bold">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </h7>
                    <div class="form-group">
                        <label id="LabelLogin">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;  Username:
                        </label>
                        <input class="form-control shadow p-3 bg-white rounded" style="font-size:20px" placeholder="Ingresar usuario ">
                    </div>
                    <div class="form-group mb-4">
                        <label id="LabelLogin"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Password</label>
                        <input type="password" class="form-control shadow p-3 bg-white rounded" style="font-size:20px" placeholder="Ingresar contraseña">
                    </div>


                </div>

                <div class="card-footer bg-transparent">
                    <div class="row justify-content-center">
                        <div class="form-row mt-4">
                            <div class="form-group col-6">
                                <a asp-controller="Start" asp-action="Start" style="font-size:17px;" class="btn btn-outline-danger btn-sm shadow rounded">Cancelar</a>

                            </div>
                            <div class="form-group col-6">
                                 <input type="submit" value="Iniciar Sesión" style="font-size:17px;" class="btn btn-outline-success btn-sm  shadow rounded" />

                            </div>
                        </div>
                        @*<div class="w-50">
                            <input type="submit" class="btn btn-outline-success btn-block shadow" style="font-size:20px;" value="Iniciar Sesión" />
                            <input type="submit" class="btn btn-outline-success btn-block shadow" style="font-size:20px;" value="Iniciar Sesión" />
                        </div>*@
                    </div>

                </div>
            </form>
        </div>

    </div>


</body>

